.footer {
  margin: auto 0 0 0;
  background-color: var(--color-semigrey);

  &-top {
    padding: 0.3rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);

    &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &__logo {

      svg {
        width: 90px;

        g {
          transition: fill .3s ease-in-out;
        }
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      gap: 1rem;


      @include lg {
        max-width: 23rem;
        overflow: auto;
        padding: 0 0 .15rem 0;

        &::-webkit-scrollbar {
          height: 2px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--color-accent);
          border-radius: var(--border-radius);
        }

        &::-webkit-scrollbar-track {
          border-radius: var(--border-radius);
        }
      }

      @include sm {
        max-width: 13rem;
        overflow: auto;
      }

      &-item {
        white-space: nowrap;
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--color-white);

        @include lg {
          text-align: center;
        }

        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }

  &-center {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);

    &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      @include lg {
        gap: 1rem;
      }

      @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 1rem;
      }

      @include sm {
        gap: 1.5rem;
        grid-template-columns: 1fr;
      }
    }

    &__col {

      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

    }

    &__address {

      display: block;
      color: var(--color-white);
      font-size: 1.2rem;
      max-width: 23rem;
      font-weight: 200;

      @include sm {
        max-width: none;
        font-size: 1rem;
      }

      &:hover {
        color: var(--color-accent);
      }
    }

    &__info {
      margin: 1rem 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      @include sm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &-item {

        a {
          position: relative;
          display: inline-block;
          color: var(--color-white);

          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--color-accent);
            transition: width .3s ease-in-out;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }

        }
      }


    }

    &__phones {

      h5 {
        color: var(--color-white);
        margin: 0 0 0.5rem 0;
        font-size: 1.1rem;

        @include sm {
          font-size: 1rem;
        }
      }

      &-items {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
      }

      &-item {
        white-space: nowrap;
        color: var(--color-white);
        font-size: 1.2rem;
        font-weight: 300;

        @include sm {
          font-size: 1.1rem;
        }

        &:hover {
          color: var(--color-accent);
        }
      }
    }

    &__socials {
      margin: auto 0 0 0;

      h5 {
        color: var(--color-white);
        margin: 0 0 .5rem 0;
        font-size: 1.1rem;

        @include sm {
          font-size: 1rem;
        }
      }

      &-list {
        display: flex;
        flex-direction: row;
        gap: .5rem;
      }

      &-item {

      }
    }

    &__mail {
      h5 {
        color: var(--color-white);
        margin: 0 0 .5rem 0;
        font-size: 1.1rem;

        @include sm {
          font-size: 1rem;
        }
      }

      &-link {
        white-space: nowrap;
        color: var(--color-white);
        font-size: 1.2rem;
        font-weight: 300;

        @include sm {
          font-size: 1.1rem;
        }

        &:hover {
          color: var(--color-accent);
        }
      }
    }

    &__ordercall {
      margin: 2rem 0 0 0;
      max-width: 22rem;

      @include sm {
        margin: 1rem 0 0 0;

        .bubble__button {
          font-size: 1rem !important;
          padding: 0.7rem !important;
        }
      }

    }

  }

  &-bottom {
    padding: 1rem 0;

    &__body {
      display: grid;
      align-items: flex-start;
      grid-template-columns: repeat(3, 1fr);
      color: var(--color-white);
      gap: 1rem;

      @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__center {
      pointer-events: none;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      white-space: nowrap;

      h6 {
        line-height: 1;
        font-size: 1rem;
      }

      span {
        line-height: 1;

      }
    }

    &__left {
      a {
        white-space: nowrap;
        font-weight: 300;
        font-size: 0.9rem;

        &:hover {
          color: var(--color-accent);
        }
      }
    }

    &__right {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 25rem;
      gap: .3rem;

      &-item {
        white-space: nowrap;
        font-size: .8rem;
        letter-spacing: -.03rem;

        @include lg {
          span {
            display: none;
          }
        }
      }
    }
  }
}

