.form-custom {
  font-family: 'Inter', sans-serif;

  &__header {
    margin: 0 0 1rem 0;
  }

  &__title {
    max-width: calc(100% - 2rem);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
    color: var(--color-semidark);
  }

  &__text {
    color: var(--color-semidark);
    font-size: .9rem;
    font-weight: 400;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__accept {
    margin: 1rem 0;

    &-link {
      display: inline-block;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--color-accent);
        transition: width .3s ease-in-out;
      }

      &:hover {
        color: var(--color-accent);

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__submit {
    display: flex;
    justify-content: center;

    button[type=submit] {
      height: auto;
      padding: 0.35rem 1rem;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      box-shadow: none;
      background-color: var(--color-accent) !important;
      color: #fff !important;
      transition: box-shadow .3s ease-in-out;

      &:hover {
        background: #4096ff;
        box-shadow: 0 0 6px 1px rgb(137 137 137 / 70%);
      }
    }
  }

  .ant-col,
  .ant-input {
    font-family: 'Inter', sans-serif;
  }

  .ant-input-filled {
    border-color: #d9d9d9;
    background-color: var(--color-white) !important;
  }

  .ant-input-filled:hover,
  .ant-input-filled:focus {
    border-color: var(--color-accent);
  }

  .ant-form-item-label {
    font-family: 'Inter', sans-serif;
    color: var(--color-semidark);
  }

  .ant-form-item {
    margin: 0;
  }

  .ant-form-item-explain-error,
  .ant-checkbox-wrapper {
    font-family: 'Inter', sans-serif;
  }

  .ant-checkbox-wrapper {
    display: flex;
    align-items: center;

    &:hover {
      .ant-checkbox-inner {
        border-color: var(--color-accent) !important;
      }
    }
  }

  .ant-checkbox {

    &:hover {

      .ant-checkbox-inner {
        border-color: var(--color-accent) !important;
      }
    }

    .ant-checkbox-input {
      width: 100%;
      height: 100%;
    }

    &.ant-checkbox-checked {

      .ant-checkbox-inner {
        background-color: var(--color-accent) !important;
        border-color: var(--color-accent) !important;
      }

    }

  }

  .ant-checkbox-inner {
    width: 1.25rem;
    height: 1.25rem;


    &::after {
      width: 0.45rem;
      height: 0.75rem;
    }
  }

  textarea {
    min-height: 4rem;
  }

  .ant-input-status-error {
    border-color: #ff4d4f !important;
  }

  .ant-input-outlined {

    &:hover, &:focus {
      border-color: var(--color-accent) !important;
    }
  }

}
