.section-header {

  &__body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;

    @include sm {
      align-items: center;
    }
  }

  &__title {

  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
    transition: padding .3s ease-in-out;
    white-space: nowrap;
    color: var(--color-semidark);

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 2px;
      width: 0;
      background-color: var(--color-accent);
      opacity: 0.65;
      transition: width .3s ease-in-out;
    }

    span {
      position: absolute;
      top: 0;
      right: 0.5rem;
      bottom: -8px;
      margin: auto 0;
      z-index: 0;
      opacity: 0;
      transition: right .5s ease-in-out, opacity .5s ease-in-out;

      @include sm {
        opacity: 1;
        right: 0;
      }
    }

    &:hover {

      padding: 0 20px 0 0;

      @include sm {
        padding: 0;
      }

      &::after {
        width: calc(100% - 20px);


      }

      span {
        right: 0;
        opacity: 1;
      }
    }

    svg {
      fill: var(--color-accent);
    }

    p {
      @include sm {
        opacity: 0;
        width: 0;
      }
    }


  }

}
