@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica.eot');
  src: local('Helvetica'),
  url('../../public/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Helvetica.woff2') format('woff2'),
  url('../../public/fonts/Helvetica.woff') format('woff'),
  url('../../public/fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica-Oblique.eot');
  src: local('Helvetica Oblique'), local('Helvetica-Oblique'),
  url('../../public/fonts/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Helvetica-Oblique.woff2') format('woff2'),
  url('../../public/fonts/Helvetica-Oblique.woff') format('woff'),
  url('../../public/fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica-BoldOblique.eot');
  src: local('Helvetica Bold Oblique'), local('Helvetica-BoldOblique'),
  url('../../public/fonts/Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Helvetica-BoldOblique.woff2') format('woff2'),
  url('../../public/fonts/Helvetica-BoldOblique.woff') format('woff'),
  url('../../public/fonts/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica-Light.eot');
  src: local('Helvetica Light'), local('Helvetica-Light'),
  url('../../public/fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Helvetica-Light.woff2') format('woff2'),
  url('../../public/fonts/Helvetica-Light.woff') format('woff'),
  url('../../public/fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica-Bold.eot');
  src: local('Helvetica Bold'), local('Helvetica-Bold'),
  url('../../public/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Helvetica-Bold.woff2') format('woff2'),
  url('../../public/fonts/Helvetica-Bold.woff') format('woff'),
  url('../../public/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica-LightOblique.eot');
  src: local('Helvetica Light Oblique'), local('Helvetica-LightOblique'),
  url('../../public/fonts/Helvetica-LightOblique.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Helvetica-LightOblique.woff2') format('woff2'),
  url('../../public/fonts/Helvetica-LightOblique.woff') format('woff'),
  url('../../public/fonts/Helvetica-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
