
:root {

  --font-inter: 'Inter', sans-serif;

  //Цвета текстов
  --text-color-primary: #ffffff;
  --text-color-secondary: #333333;
  --text-color-gray: #9b9b9b;


  //Параметры текстов
  --ls: 0.015rem;
  --ls-01: 0.1rem;
  --ant-font-family: 'Inter', sans-serif;

  //Цвета фона сайта
  --bg-color-semidark: #2f2f2f;
  --bg-color-dark: #121212;


  //Цвета сайта
  --color-white: #ffffff;
  --color-grey: #9b9b9b;
  --color-semigrey: #505050;
  --color-grey-light: #f9f9f9;
  --color-accent: rgb(255, 114, 0);
  --color-accent-transparent: rgba(255, 114, 0, 0.7);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --color-semidark-transparent: rgba(47, 47, 47, 0.93);
  --color-semidark: #2f2f2f;


  //Прочие параметры
  --border-radius: 0.5rem;
  --trans-eio3: 0.3s easy-in-out;
  --transL3: 0.3s linear;
  --menu-speed: 0.75s;
  --primary-color: #ffaeae;
}
