.header__link {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    letter-spacing: var(--ls);
    padding: .8rem 1.3rem;
    color: var(--text-color-primary);
    font-weight: 500;
    font-size: 1.05rem;
    transition: border 600ms cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid transparent;
    white-space: nowrap;

    @include lg {
      padding: .8rem .8rem;
    }

    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: var(--color-white);
      transition: opacity 550ms cubic-bezier(0.19, 1, 0.22, 1);
      z-index: 1;
    }

    &:hover,
    &.active {
      border: 1px solid var(--color-white);

      &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      &:before {
        opacity: 0.2;
      }
    }

  }

}

.header__dropdown-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--color-semidark-transparent);
  padding: .85rem 2.4rem .85rem 1.1rem;

  &-item {}

  &-link {
    display: block;
    font-size: 1.15rem;
    color: var(--text-color-primary);
    letter-spacing: var(--ls);
    font-weight: 500;
  }
}
