.page-left-bar {

  &__grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__sidebar {

    .leftbar {
      position: sticky;
      top: 11.875rem;
    }


    @include md {
      display: none;
    }
  }

  &__content {

    h1 {
      font-weight: 700;
      margin: 0 0 3rem 0;
    }
  }
}
